<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="YEAR_BOMB" value="2025"/>
    <add key="MONTH_BOMB" value="2"/>
    <add key="DAY_BOMB" value="18"/>
    <add key="HOUR_BOMB" value="7"/>
    <add key="MINUTE_BOMB" value="59"/>
    <add key="SECOND_BOMB" value="59"/>
  </appSettings>
</configuration>